@use '../../scss/mixins.scss';

.block{
    @include mixins.block();
    padding-bottom: 0px;
    width: 100%;
    height: 100%;
    &__header{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        & p{
            margin-left: 10px;
            @include mixins.text(#fff, 12px, 600);
            @include mixins.rgbaColor();
        }
    }
    &--sunrise{
        grid-column: 3;
        grid-row: 2;

    }
    &--wind{
        grid-column: 4;
        grid-row: 2;
    }
    @include mixins.meadia(1170px){
        &--sunrise{
            grid-column: 1;
            grid-row: 4;
        }
        &--wind{
            grid-column: 2;
            grid-row: 4;
        }
    }
    @include mixins.meadia(730px){
        &--sunrise{
            grid-column: 1;
            grid-row: 6;
        }
        &--wind{
            grid-column: 2;
            grid-row: 6;
        }
        &--sunset{
            grid-column: 1;
            grid-row: 7;
        }
        &--pressure{
            grid-column: 2;
            grid-row: 7;
        }
        &--humidity{
            grid-column: 1;
            grid-row: 8;
        }
        &--visibility{
            grid-column: 2;
            grid-row: 8;
        }
    }
}